docs/spec/datex2/DATEXII_3_DiaLogExtension.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema
  version="3.3"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns:dx="https://raw.githubusercontent.com/MTES-MCT/dialog/main/docs/spec/datex2"
  targetNamespace="https://raw.githubusercontent.com/MTES-MCT/dialog/main/docs/spec/datex2"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="LinearLocationExtended">
    <xs:annotation>
      <xs:documentation>Extension of class LinearLocation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="geoJsonGeometry" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>GeoJSON representation for the linear location.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TrafficRegulationOrderExtended">
    <xs:annotation>
      <xs:documentation>Extension of class TrafficRegulationOrder.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Source of the data in DiaLog.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicUrl" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Link to the public Web page where the regulation order can be viewed in DiaLog.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VehicleCharacteristicsExtended">
    <xs:annotation>
      <xs:documentation>Extension of class VehicleCharacteristics.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherVehicleType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Other type of vehicle.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
